services:
  # The SSH Server (GlueOps Version)
  sish:
    image: ghcr.io/glueops/sish:latest
    container_name: sish
    restart: always
    ports:
      - "2222:2222"
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/certs
    command: >
      --domain ssh.venkatamutyala.com
      --http-address :80
      --https-address :443
      --ssh-address :2222
      --https-certificate-directory=/certs
      --authentication=true
      --https=true
      --bind-random-subdomains=false
      --authentication-key-request-url="http://authenticator:5000/"
      --authentication-key-request-timeout=15s
      --cleanup-unauthed-timeout=30s
      --append-user-to-subdomain-separator="-"
      --append-user-to-subdomain
#      --debug
    depends_on:
      - authenticator

  # The Auth App (Saves users to disk)
  authenticator:
    build: ../python-glueops-auth
    container_name: sish-auth
    restart: always
    volumes:
      # This folder will appear on your host machine containing the user files
      - ./sish_users:/data
    # Run with Gunicorn for stability
    command: ["gunicorn", "-w", "4", "-b", "0.0.0.0:5000", "auth:app"]