services:
  # DNS01 Let's Encrypt Certificate Manager (Route53)
  letsencrypt:
    image: adferrand/dnsrobocert:3.26.1
    container_name: letsencrypt-dns
    restart: always
    environment:
      - ACME_EMAIL=${ACME_EMAIL}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - DOMAIN=${DOMAIN}
    volumes:
      - letsencrypt:/etc/letsencrypt
      - ./le-config.yml:/etc/dnsrobocert/config.yml
      - ./deploy-hook.sh:/deploy-hook.sh:ro
      - ssl:/ssl

  # The SSH Server (GlueOps Version)
  sish:
    image: ghcr.io/glueops/sish:latest
    container_name: sish
    restart: always
    ports:
      - "2222:2222"
      - "80:80"
      - "443:443"
    volumes:
      - ssl:/ssl
    command: >
      --domain ${DOMAIN}
      --http-address :80
      --https-address :443
      --ssh-address :2222
      --https-certificate-directory=/ssl
      --authentication=true
      --https=true
      --bind-random-subdomains=false
      --authentication-key-request-url="http://authenticator:5000/"
      --authentication-key-request-timeout=15s
      --cleanup-unauthed-timeout=30s
      --append-user-to-subdomain-separator="-"
      --append-user-to-subdomain
      --cleanup-unbound
#      --debug
    depends_on:
      - authenticator
      - letsencrypt

  # The Auth App (Saves users to disk)
  authenticator:
    build: ../python-glueops-auth
    container_name: sish-auth
    restart: always
    volumes:
      # This folder will appear on your host machine containing the user files
      - ./sish_users:/data
    # Run with Gunicorn for stability
    command: ["gunicorn", "-w", "4", "-b", "0.0.0.0:5000", "auth:app"]

volumes:
  letsencrypt:
  ssl: