version: '3.7'

services:
  letsencrypt:
    image: adferrand/dnsrobocert:3.26.1@sha256:e8e7d1bd127aebcee036f4211a3c89f0b819bf5d719ff6ddcf1e8b436540fa6c
    container_name: letsencrypt-dns
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./letsencrypt:/etc/letsencrypt
      - ./le-config.yml:/etc/dnsrobocert/config.yml
    restart: always
  sish:
    image: ghcr.io/glueops/sish:latest@sha256:8cbd397601616d8a0b767fa20f670a998f1d21dd8385a5277fa9ffa84c699daa
    container_name: sish
    depends_on: 
      - letsencrypt
    volumes:
      - ./letsencrypt:/etc/letsencrypt
      - ./pubkeys:/pubkeys
      - ./keys:/keys
      - ./ssl:/ssl
    command: |
      --ssh-address=:22
      --http-address=:80
      --https-address=:443
      --https=true
      --https-certificate-directory=/ssl
      --authentication-keys-directory=/pubkeys
      --private-keys-directory=/keys
      --bind-random-ports=false
      --bind-random-subdomains=false
      --domain=ssi.sh
    network_mode: host
    restart: always
